body{
    background-color: rgb(255, 255, 255);
}
a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav {
    text-align: center;
    margin-top: -21px;

}
.nav ul li {
    display: inline;
    padding: 0 15px;
}
.nav ul li a {
    color: rgb(0, 0, 0);
    transition: color .2s ease-in-out ; /*change color text after 2s*/
}
.nav ul li a:hover {
    color: rgb(255, 2, 99);
}
.top-menu {
    padding: 5px;
}
.logo{
    font-size: 50px;
}


.image {
    background-image: url("f.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .image-text {
    text-align: left;
    position: absolute;
    top: 55%;
    left: 18%;
    transform: translate(-50%, -50%);
    color: rgb(255, 2, 99);
  }
  .image2 {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

